/**{
    margin:0;
    padding:0;
    }*/

    canvas {
        width: 100%;
        height: auto;
    }

     #panel {
        border:1px #000 solid;
        box-shadow:4px 6px 6px #444444;
        cursor:crosshair;
    }

    #swImage {
        border:1px #000 solid;
        box-shadow:2px 3px 3px #444444;
        cursor:pointer;
        height:25px;
        line-height:25px;

        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
    }

    #swImage:hover {
        margin-left:2px;
    }

    #preview {
        border:1px #000 solid;
        box-shadow:2px 3px 3px #444444;
        height:80px;
        width:80px;

        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
    }
